.dashboard
	.go-to-tutorial
		width: 350px
		margin: 0 auto
		display: flex
		flex-direction: column
		gap: 10px
		border: 1px solid
		padding: 20px
		border-radius: 5px

		h5
			margin: 0
			font-size: 20px
			text-align: center

	.statistics
		background-color: var(--nav-nav-bg)
		color: var(--nav-on-nav)
		transition: all var(--transition-time-short)
		box-shadow: var(--drop-shadow)
		display: flex
		padding: 10px 20px
		border-radius: 20px
		text-align: center
		gap: 30px

		> div
			flex: 1

			h4
				font-weight: bold
				margin-bottom: 10px

			div
				font-size: 20px
				height: 40px

	.folders
		margin-top: 30px

		h4
			margin-bottom: 10px

		.list
			overflow-x: auto
			display: flex
			align-items: center
			gap: 20px
			padding-bottom: 20px
			min-height: 113px

			.no-folders
				font-size: 18px
				font-weight: 600
				margin: 0 auto

			.folder
				max-width: 250px
				min-width: 250px
				flex: 1
				padding: 25px 15px
				background: #B9C0DA
				box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
				border-radius: 20px
				position: relative

				.courses-count
					font-size: 12px
					position: absolute
					top: 8px
					right: 8px
					gap: 2px
					display: flex

	.flex
		display: flex
		width: 100%
		gap: 30px
		margin-top: 10px

		.lastCourses, .lastAdventure
			height: 360px
			flex: 1
			background-color: var(--nav-nav-bg)
			color: var(--nav-on-nav)
			transition: all var(--transition-time-short)
			box-shadow: var(--drop-shadow)
			padding: 10px 20px
			border-radius: 20px

			h4
				font-weight: bold
				display: block
				text-align: center
				margin: 10px auto 20px

			h5
				font-weight: 600
				margin: 0


[sword-comp=FolderDialog]
	.dialog
		width: 500px
		height: 300px

	.empty-folder
		padding-bottom: 20px
		font-size: 16px

	.courses
		display: flex
		gap: 20px

		.course
			padding: 25px 40px
			background: #B9C0DA
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
			border-radius: 20px
			position: relative

			.remove-from-folder
				font-size: 12px
				position: absolute
				top: 8px
				right: 8px
				gap: 2px
				display: flex

				svg
					width: 20px
					height: 20px

@media only screen and (max-width: 600px)
	.dashboard
		.statistics
			display: block !important

		.courses-adventures
			flex-direction: column
