[sword-comp=WordsKnown], [sword-comp=LearnedTimeStatistics], [sword-comp=CompletedCoursesStatistics]
	height: calc(100% - 56px)
	display: flex
	flex-direction: column

	.header
		display: flex
		gap: 10px

		h3
			flex: 1


	.chart
		overflow-x: auto
		width: 100%
		flex: 1