.dashboard

	.go-to-tutorial
		width: 350px
		display: flex
		flex-direction: column
		gap: 10px
		border: 1px solid
		padding: 20px
		border-radius: 5px

		h5
			margin: 0
			font-size: 20px
			text-align: center

	.statistics
		bottom: 0
		left: 0
		z-index: 0
		background-color: var(--nav-nav-bg)
		color: var(--nav-on-nav)
		transition: all var(--transition-time-short)
		box-shadow: var(--drop-shadow)
		position: -webkit-sticky
		display: flex
		padding: 10px 20px
		justify-content: center
		flex-direction: row
		margin: 30px 50px 15px
		border-radius: 20px
		text-align: center
		.knownWords
			margin: auto 250px
		h4
			font-weight: bold

	.flex
		display: inline-flex
		.lastCourses
			bottom: 0
			left: 0
			z-index: 0
			background-color: var(--nav-nav-bg)
			color: var(--nav-on-nav)
			transition: all var(--transition-time-short)
			box-shadow: var(--drop-shadow)
			position: -webkit-sticky
			display: block
			padding: 10px 20px
			flex-direction: row
			margin: 30px 15px 15px 50px
			border-radius: 20px
			h4
				font-weight: bold
				display: block
				text-align: center
				margin: 10px auto 20px
			h5
				margin: 0
		.lastAdventure
			bottom: 0
			left: 0
			z-index: 0
			background-color: var(--nav-nav-bg)
			color: var(--nav-on-nav)
			transition: all var(--transition-time-short)
			box-shadow: var(--drop-shadow)
			position: -webkit-sticky
			display: block
			padding: 10px 20px
			flex-direction: row
			margin: 30px 15px 15px 50px
			border-radius: 20px
			h4
				font-weight: bold
				display: block
				text-align: center
				margin: 10px auto 20px
			h5
				margin: 0

