<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="icon" type="image/svg+xml" href="/public/favicon.svg">
  <link rel="icon" type="image/png" href="/public/favicon.png">

  <title>{{title}}</title>
  {{icons}}
  <script src="/icon-data.js"></script>
</head>

<body>
  {{scripts}}
  <script src="/main.build.js"></script>
</body>

</html>
